{% extends "base.html" %} {% load static %} {% block content %}
<header class="mastheadResult text-center text-white d-flex">
    <div class="container my-auto">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <h1><strong>COMPTE</strong></h1>
            </div>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="accountForm">
                    {% if firstname %}
                    <h2>{{firstname}} {{lastname}}</h2>
                    <br>
                    <h5>PRENOM:  {{ firstname }}</h5>
                    <h5>NOM:  {{ lastname }}</h5>
                    {% endif %}
                    <h5>EMAIL:  {{ email }}</h5>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}